#puzzleContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 900px;
	color: #ccc;
	position: relative;
	margin-bottom: 2rem;
}

/* Puzzle */
#pieceContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	/* Take up the full width */
	border: 0.25px var(--lavender) dotted;
	margin-bottom: 10px;
}

#puzzleContainer img {
	width: 15%;
	height: 150px;
	padding: 0.2rem;
	box-sizing: border-box;
}

#puzzle {
	display: flex;
	justify-content: space-around;
	/* Adjust as needed */
	width: 100%;
}

.pieceContainer {
	width: 150px;
	height: 150px;
	float: left;
	border: 0.25px var(--lavender) dotted;
}

#puzzle img {
	width: 100%;
	height: 100%;
	padding: 0;
}

#winMessage {
	position: absolute;
	top: 40%;
	left: 27%;
	font-size: 1rem;
	transform: translateX(-50%);
	font-family: 'heading';
	background-color: var(--lavender);
	color: var(--baby-powder);
	padding: 20px;
	border: 3px solid;
	border-image: linear-gradient(to left, var(--melon) 0%, var(--sunset) 12.5%, var(--cream) 25%, var(--tea-green) 37.5%, var(--electric-blue) 50%, var(--jordy-blue) 62.5%, var(--periwinkle) 75%, var(--mauve) 87.5%);
	border-image-slice: 1;
	}